/************************************************************************
*
*   G L O B A L  C S S
*
*   Author:  Luke Zappia
*   Date:    22 May 2017
*   Version: 1.0
*
*************************************************************************/

/*-----------------------------------------------------------------------
Reset
------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,input, textarea, button
{
    background:transparent;
    border:0;
    font-size:100%;
	list-style:none;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary
{
    display:block;
}

/*body
{
    padding-top: 50px;
}*/

nav ul
{
    list-style:none;
}

blockquote, q
{
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
    content:'';
    content:none;
}

a
{
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

ins
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark
{
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del
{
    text-decoration: line-through;
}

abbr[title], dfn[title]
{
    border-bottom:1px dotted #000;
    cursor:help;
}

table
{
    border-collapse:collapse;
    border-spacing:0;
}

hr
{
    border:0;
}

.clear
{
    clear:both;
}

.float-left
{
    float:left;
}

.float-right
{
    float:right;
}

.bottomless
{
    border-bottom:none !important;
}

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

.float-left
{
    float:left;
}

.float-right
{
    float:right;
}

.clear
{
    clear:both;
}

/*-----------------------------------------------------------------------
Big Table Page
------------------------------------------------------------------------*/

#table-filter
{
    background:#efefef;
    border:1px solid #cccccc;
    padding:20px;
    margin:20px 0;
}

#table-filter .form-check
{
    display:inline;
    margin:5px 5px 5px 0;
}

#table-filter .form-check input
{
    margin:0 5px 0 0;
}

.panel-title {
  position: relative;
}

.panel-heading .accordion-toggle {
  padding-left: 25px;
  display: block;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  /*glyphicon glyphicon-chevron-right*/
  color: #333f48;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

.panel-heading .accordion-toggle.collapsed:after {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  /*glyphicon glyphicon-chevron-down*/
  color: #333f48;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

/* set panel-heading paddings to a instead of h3 */
.panel-heading { padding: 0 }
.panel-heading h4 { background: #ef8828; }
.panel-heading a { padding: 10px 15px; }

/* change color of collapsed class */
.collapsed { background: #efefef; }

/* reposition the left arrows */
.panel-heading .accordion-toggle.collapsed:after { top: 10px; }
.panel-heading .accordion-toggle:after { top: 10px; }

.page-header {
    font-size: 250%;
    margin-top: 0;
}

.page-header h2 {
    font-size: 70%;
    margin-top: 50px;
    display: inline-block;
}

.sortbox {
    font-size: 70%;
}

#logo-image {
    height: 35px;
}

.container .text-muted {
    margin: 10px 0;
}
.text-muted {
    color: #b3b3b3;
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

.footer .container {
    width: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}