.panel-heading h4 { background: #a65628; }

.page-header {
    color: #a65628;
}

#logo-square {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin: 20px auto;
    max-width: 600px;
}

.form-check {
    margin: 20px auto;
    max-width: 600px;
}

.checkboxes {
    columns: 2 16em;
}